/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* container */
.container{
    width: 50%;
    height: 1000px;
    margin: 200px auto;
    background-color: lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* Logo */
.logo{
    margin: 0 auto 30px;
    height: 150px;
}

/* screen of calculator */
.srceen{
    height: 150px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* number in the screen */
.number{
    color: #08c68f;
    font-size: 50px;
    font-family: seven segment ;
    padding-right: 15px;
}